#searchBar {
	padding: 20px 0 0;

	input [type="text"], input [type="submit"] {
		display: block;
	}

	#str {
		width: 100%;
		padding: 5px 10px;
		border-radius: 5px;
		border: 1px solid $darkGrey;
		background: #ffffff;
		color: $lightGrey;
		font-size: .9em;

		&::placeholder {
			color: $lightGrey;
		}
	}

	#submit {
		@include hide;
	}


	
}



.container{
	margin-top: 15px;
    border-bottom: solid 1px #010101;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 996px;

}

.mainHeader h3{
    margin-top: 1.5em;
    text-align: center;
    margin-bottom: -2em;
    margin-right: 7em;
    font-size: 3em;
}

.form-group
{
	width: 200px;
	display: inline-block;
	background-color: #393939;
	color: #5f5f5f;
	margin-top: 10px;
	margin-left: 0em;
	text-align: center;
	padding-top: 2px;
	padding-bottom: 2px;
	font-size: 18px;
	border: 1px solid #393939;

	border-radius: 7px;
	-webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
}



.hire
{
	width: 300px;
	display: inline-block;
	background-color: #393939;
	color: #fdfafa;
	margin-top: 15px;
	margin-left: 17em;
	text-align: center;
	padding-top: 1px;
	padding-bottom: 1px;
	font-size: 20px;
	border: 0px solid #ffffff;
	font-weight: 400;

	border-radius: 7px;
	-webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;

	
}

#hire:hover
{
	background-color: #333;
	font-size: 20px;
}


.submit
{
	width: 66px;
	display: inline-block;
	background-color: $lightGrey;
	color: #fdfafa;
	margin-top: 15px;
	margin-left: 43em;
	text-align: center;
	padding-top: 2px;
	padding-bottom: 2px;
	font-size: 20px;
	border: 0px solid #ffffff;
	font-weight: 400;

	border-radius: 7px;
	-webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;

	
}


