//Fonts
$baseFont: 'Gudea', sans-serif;

//Colours
$white: #fff;
$darkGrey: #59554e;
$lightGrey: #393939;
$lightestGrey: #353535;
$darkBlue: #ffc248;
$lightBlue: #f9d38f;

// grid variables
$grid-columns: 12;
$grid-max-width: 62em;

